*{
    padding: 0px;
    margin: 0px;
    
}
li{
    list-style: none;
    text-align: left;
}
div{
    touch-action: none;
}
.handleColor{
    color: red !important;
}
.am-navbar-title{
    color: #fff !important;
}